.cont-title {
    background: #000;
}

.cont-title svg{
    width: 15vw;
    height: auto;
}

body {
    background: #eee !important;
}

.container{
    background-color: #fff;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

.led {
    display: inline-block;
    padding: 0rem 1.1rem;
    border: 2px solid #000;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
}

.pc{
    overflow: scroll;
    height: 50vh;
    background-color: #fff8dc;
}

.pc table td {
    border: 1px solid #222222;
    background-color: #000;
    user-select: none;
}

.pc table td i{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.tmled{
    border: 2px solid #000;
    box-shadow: .3rem .3rem .3rem 0 rgba(0,0,0,.7);
}